.site-types {
    height: 100vh;
    width: 100%;
    background-image: url('/assets/img/background/laptop.png');
    /* Белая полоска появляется из-за неправильно интепретации браузером, судя по всему. Поэтому лучшии вариантом является подобрать размер картинки в пикселях */
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
   
    /* border создает дополнительный пиксель вокруг блока из-за чего появляется горизонтальный скролл */
    /* border: 1px solid red; */
}

.dark-background {
    background-image: url('/assets/img/background/darkback.png');

    height: 70%;
    width: 80%;
    
    /* Не понял для чего здесь нужен position absolute */
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* Выравнивания данного блока мы добились с помощью flexbox в родительском блоке .site-types */
    /* margin: auto; */

    display: flex;
    flex-direction: row;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    /* border: 1px solid green; */
}

.dark__blue-words {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    /* border: 1px solid red; */
}

.blue-words__text {
    width: 85%;
    
    margin-right: auto;
    margin-left: auto;

    color: #48c0cc;
    text-align: left;

    /* border: 1px solid red; */
}

.dark__components {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-around;

    /* border: 1px solid red; */
}

.site-kinds {
    height: 40%;
    width: 40%;

    border: 1px solid #fff;
}

.sitecard {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: 1px solid red; */
}

.cards__title {
    font-size: 22px;
}

.cards {
    color: #fff;

    display: flex;
    justify-content: center;
    text-align: center;

    /* border: 1px solid red; */
}

